.env
.env.local
.DS_Store
**/bin/
**/obj/
*.user
**/build_output.txt
.vscode/

# Keep the base config file
!appsettings.json

# Ignore environment-specific configs like dev etc. 
appsettings.*.json

# Ignores data injection script
ImportData.py
2026 Heat Production Optimization - Danfoss Deliveries - Source Data Manager(SDM).csv